<!--este es el header-->
<div class='navbar'>
    <div class='logo-menu'>
        <div class='nombreEmpresa'>
            <span>Cartelera Caracas </span>
        </div>
    </div>
    <div class='options-menu'>
        <div class='options'>
            <span><a [routerLink]="['/home']" style="color: gray; text-decoration: none;">Home</a></span>
            <span><a [routerLink]="['/listapelis']" style="color: gray; text-decoration: none;">Movie List</a></span>
            <span *ngIf="!usernavbar"><a [routerLink]="['/login']" style="color: gray; text-decoration: none;">Login</a></span>
            <div class='registeroption' *ngIf="!usernavbar">
                <span><a [routerLink]="['/register']" style="color: gray; text-decoration: none;">Register</a></span>
            </div>
            <span *ngIf="usernavbar"><a [routerLink]="['/pelisfavoritas']" style="color: gray; text-decoration: none;">Favorite Movies</a></span>
            <span *ngIf="usernavbar" style="color: gray; text-decoration: none;">Bienvenido, {{usernavbar.displayName}}</span>
            <button class='outButton' *ngIf="usernavbar" (click)="HandleOut()" style="color: gray; text-decoration: none; font-weight: bold;">Logout</button>
        </div>
    </div>
</div>