
.wrapper-postcard .wrapper-grid{
    margin-left: 24px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.wrapper-postcard .wrapper-buttons {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
 
.wrapper-postcard .wrapper-buttons .bsiguiente{
    height: 40px;
    width: 48%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    border-style: none;
    box-shadow: 0 0 3px 0 gray;
    color: gray;
}

.wrapper-postcard .wrapper-buttons .banterior{
    height: 40px;
    width: 48%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    border-style: none;
    box-shadow: 0 0 3px 0 gray;
    color: gray;
}