<div class='wrapper-home'>
    <div class='clas-title'>
        <span>Peliculas Populares</span>
    </div>
    <div class='listapelis'>
        <ng-container>
            <app-mini-postcard [postModel] = data.results[0]></app-mini-postcard>
            <app-mini-postcard [postModel] = data.results[1]></app-mini-postcard>
            <app-mini-postcard [postModel] = data.results[2]></app-mini-postcard>
            <app-mini-postcard [postModel] = data.results[3]></app-mini-postcard>
            <app-mini-postcard [postModel] = data.results[4]></app-mini-postcard>
            <app-mini-postcard [postModel] = data.results[5]></app-mini-postcard>
            <app-mini-postcard [postModel] = data.results[6]></app-mini-postcard>
            <app-mini-postcard [postModel] = data.results[7]></app-mini-postcard>
        </ng-container>
    </div>
</div>
