<div class='wrapper-home'>
    <div class='clas-title'>
        <span>Peliculas Populares</span>
        <button class='buttonAccederLisaPelis'>Ir a Lista de pelis</button>
    </div>
    <div class='listapelis'>
        <app-mini-postcard></app-mini-postcard>
        <app-mini-postcard></app-mini-postcard>
        <app-mini-postcard></app-mini-postcard>
        <app-mini-postcard></app-mini-postcard>
        <app-mini-postcard></app-mini-postcard>
        <app-mini-postcard></app-mini-postcard>
        <app-mini-postcard></app-mini-postcard>
    </div>
</div>
