
.postCard{
    height: 675px;
    width: 250px;
    border-radius: 7px;
    box-shadow: 0 0 3px 0 gray;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.postCard .postCard-tittle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    margin-bottom: 10px;
}

.postCard .separatorCard{
    height: 1px;
    width: 100%;
    background-color: gray;
    margin-bottom: 10px;
}

.postCard .contentCard{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}

.postCard .contentCard .bontones{
    display: flex;
    justify-content: space-around;
}

.postCard .contentCard .bontones .details{
    height: 40px;
    width: 48%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    border-style: none;
    box-shadow: 0 0 3px 0 gray;
    color: gray;
}

.postCard .contentCard .bontones .Add-favorite{
    height: 40px;
    width: 48%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    border-style: none;
    box-shadow: 0 0 3px 0 gray;
    color: gray;
}


.postCard .contentCard .img-container .img{
    object-fit: cover;
    margin-top: 10px;
    height: 320px;
    width: 100%;
    border-radius: 10px;
    background-color: black;
}

span{
    font-weight: bold;
}