<div class='postCard'>
    <div class='postCard-tittle'>
        <span>{{postModel.title}}</span>
    </div>
    <div class='separatorCard'></div>
    <div class='contentCard'>
        <span>Para adultos:</span>
        <p>{{postModel.adult}}</p>
        <span>Popularity:</span>
        <p>{{postModel.popularity}}</p>
        <span>Original Idiom:</span>
        <p>{{postModel.original_language}}</p>
        <span>Image:</span>
        <div class='img-container'>
            <img src="https://image.tmdb.org/t/p/w500/{{postModel.poster_path}}" class='img'>
        </div>
        <div class='bontones'>
            <button class='details'>Details</button>
            <button class='Add-favorite'>Add favorite</button>
        </div>
    </div>
</div>
